# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipa

# HTML/CSS testing files
*.html
*.css

# IDEs
.vscode
.idea

# MacOS Files
.DS_Store
._*

# Xcode files
xcuserdata
xcode/.build/
xcode/*.xcscmblueprint
xcode/*.xccheckout
xcode/build/
xcode/debug/
xcode/DerivedData/
xcode/*.moved-aside
xcode/*.pbxuser
xcode/!default.pbxuser
xcode/*.mode1v3
xcode/!default.mode1v3
xcode/*.mode2v3
xcode/!default.mode2v3
xcode/*.perspectivev3
xcode/!default.perspectivev3
## Obj-C/Swift specific
xcode/*.hmap

build
